.headline-primary {
  color: #252525;
  font-weight: 400;
  font-size: 2.625em;
  line-height: 1.09524;
  margin-top: 0; }

.headline-secondary, .location h3, .projects__item h3 {
  color: #858585;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.5em; }

.headline-project, .headline-project--subtitle {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  font-weight: 400;
  font-size: 2em;
  margin: 0; }

.headline-small {
  color: #ccc;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase; }

.btn-primary {
  width: 20em;
  padding: 15px 30px;
  border: 0;
  border-radius: .4em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity .3s;
  display: block; }
  .btn-primary:hover {
    opacity: .75; }
  .btn-primary:active {
    opacity: initial; }

.container:after {
  content: "";
  display: table;
  clear: both; }

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.headline-primary, .headline-secondary, .location, .btn-primary, footer {
  text-align: center; }

.centered, .container {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.no-border {
  border: none !important; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/***********************************************************
*** General
***********************************************************/
* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100% !important;
  height: auto !important; }

body {
  font-family: "Roboto", sans-serif; }

.headline-project--subtitle {
  margin-top: 5em; }

p {
  color: #707070;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1em; }

.text-small {
  font-size: 0.875em;
  font-weight: 400;
  color: #707070; }

/***********************************************************
*** General
***********************************************************/
i.color-video-player {
  color: #e59440; }

i.color-dashboard {
  color: #7377bf; }

.project-module--img, .project-module--img-video, .project-module--double-img, .project-module--img-dashboard {
  border: 10px solid #52bab3;
  border-radius: 20px; }
  .project-module--img img, .project-module--img-video img, .project-module--double-img img, .project-module--img-dashboard img {
    border-radius: 20px; }

/***********************************************************
*** Project page - block project details
***********************************************************/
.project-details__item {
  margin-bottom: 3.125em; }
  .project-details__item p {
    margin-bottom: 0; }

/***********************************************************
*** Project page - block project module
***********************************************************/
.project-module--img-video {
  border-color: #e59440; }

.project-module--double-img {
  border-color: #e59440; }
  .project-module--double-img img:first-of-type {
    border-radius: 10px 10px 0 0; }
  .project-module--double-img img:last-of-type {
    margin-bottom: -4px;
    border-radius: 0 0 10px 10px; }

.project-module--double-img.col-6 {
  padding: 0; }

.project-requirements__item {
  position: relative; }
  .project-requirements__item i {
    position: absolute;
    top: 6px; }
  .project-requirements__item p {
    padding-left: 20px; }

/***********************************************************
*** Project page - dashboard
***********************************************************/
.project-module--img-dashboard {
  border-color: #7377bf; }

/***********************************************************
*** Front page - Section intro
***********************************************************/
.intro {
  margin-bottom: 1.875em; }
  .intro a {
    color: #252525; }
    .intro a:hover {
      color: #52bab3; }

.headline-group .headline-primary {
  margin-bottom: 0.625em;
  margin-top: 2.5em; }
.headline-group .headline-secondary {
  margin-top: 0;
  margin-bottom: 0; }

.location {
  margin-bottom: 5em; }
  .location i {
    padding-right: 0.1875em;
    color: #52bab3;
    font-size: 1.25em; }
  .location h3 {
    font-size: 1.25em;
    display: inline-block;
    color: #52bab3;
    margin-top: 0.25em; }

/***********************************************************
*** Front page - Section proiects
***********************************************************/
.projects {
  margin-top: 1.875em; }
  .projects__item {
    margin-bottom: 1.25em; }
    .projects__item h3 {
      font-size: 1.125em;
      font-weight: 500;
      margin-top: 0.3125em;
      color: #575757; }

/***********************************************************
*** Projects page - section project-single
***********************************************************/
.project-single {
  padding-top: 3.75em;
  padding-bottom: 3.75em; }

/***********************************************************
*** Single project - interactive video player
***********************************************************/
.project-photo {
  border: 40px solid #ccc;
  margin-bottom: 4.16667em; }

.headline-project--video-player {
  text-align: left;
  color: #fff;
  background-color: #e59440; }

/***********************************************************
*** Single project - dashboard
***********************************************************/
.headline-project--dashboard {
  text-align: left;
  color: #fff;
  background-color: #7377bf; }

/***********************************************************
*** Btn
***********************************************************/
.btn-primary {
  background-color: #52bab3; }
  .btn-primary:after {
    background-color: #6fc6c0; }

* {
  box-sizing: border-box; }

@media (min-width: 769px) {
  .col-1 {
    width: 6.5%; }

  .col-2 {
    width: 15%; }

  .col-3 {
    width: 23.5%; }

  .col-4 {
    width: 32%; }

  .col-5 {
    width: 40.5%; }

  .col-6 {
    width: 49%; }

  .col-7 {
    width: 57.5%; }

  .col-8 {
    width: 66%; }

  .col-9 {
    width: 74.5%; }

  .col-10 {
    width: 83%; }

  .col-11 {
    width: 91.5%; }

  .col-12 {
    width: 100%; } }
@media (min-width: 1px) and (max-width: 768px) {
  [class*="col-"] {
    margin-top: 0.75em;
    margin-bottom: 3.75em; } }
@media (min-width: 769px) {
  [class*="col-"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    [class*="col-"] + [class*="col-"] {
      margin-left: 2%; }
    [class*="col-"]:last-of-type {
      float: right; } }

.container {
  width: 90%;
  max-width: 1100px; }
  [class*="col-"] > .container {
    width: 100%; }
  @media (min-with: 1100px) {
    .container {
      max-width: 1050px; } }

/***********************************************************
*** Contact nav
***********************************************************/
.contact-nav {
  text-align: center;
  margin: 1.875em; }
  .contact-nav__link {
    display: inline-block;
    padding-left: 0.625em; }
    .contact-nav__link i {
      color: #e6e6e6;
      font-size: 1.5em; }
      .contact-nav__link i:hover {
        color: #52bab3; }

/***********************************************************
*** Sidebar
***********************************************************/
/*********************************************
***** Footer
*********************************************/
footer p {
  margin-top: 3.57143em;
  margin-bottom: 3.57143em; }

/***********************************************************
*** Print
***********************************************************/
@media (min-width: 320px) and (max-width: 768px) {
  .is-displayed-mobile {
    display: block; }
    .is-hidden-mobile {
      display: none; } }
@media (min-width: 769px) {
  .is-displayed-mobile {
    display: none; } }

@media (min-width: 320px) and (max-width: 768px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

/*# sourceMappingURL=styles.css.map */
