// ================================================================
// Grid display
// ================================================================

.is-displayed-mobile {
  @include media_query(small) {
    display: block;
    @at-root (with: media) {
      .is-hidden-mobile {
  display: none;
      }
    }
  }
  @include media_query(medium) { 
    display: none;
  } 
}
