---
layout: default
title: "about me"
subtitle: "Full Stack Web Developer"
---

<!-- header -->
<header>
  {% include navbar.html %} {% include jumbotron.html title=page.title
  subtitle=page.subtitle %}
</header>

<main class="container">
  <section class="about-me">
    <img
      src="{{site.url}}/assets/cristiancristea.jpg"
      class="about-me-photo"
      alt="profile photo"
    />
    <div class="about-me-description">
      <h2>Cristian Cristea</h2>
      <p>
        Hi, I'm a Full Stack Web Developer based in Hamburg, Germany. <br />I
        started as an Front End Dev working with HTML5, CSS3 and JS and changed
        to Full Stack Development (Ruby on Rails).
      </p>

      <p>
        I build complex, production ready projects from ideas. I provide high
        quality work, fully responsive, and tested in a wide range of devices.
      </p>

      <div class="skills">
        <ul class="project-list">
          <li>HTML5</li>
          <li>Semantic markup</li>
          <li>CSS3</li>
          <li>Sass</li>
          <li>Bootstrap</li>
          <br />
          <li>Javascript, ES6</li>
          <li>React</li>
          <li>jQuery</li>
          <br />
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>Test Driven Development</li>
          <li>Web scraping</li>
          <li>Relational databases, SQL</li>
          <br />
          <li>Git</li>
          <li>Github</li>
          <li>Heroku</li>
        </ul>
      </div>
    </div>
  </section>
</main>

<!-- footer -->
{% include footer.html %}
