---
layout: default
title: "about me"
subtitle: "Front End Web Developer"
---


<!-- header -->
<header>
  {% include navbar.html %}
  {% include jumbotron.html title=page.title subtitle=page.subtitle %}
</header>

<main class="container">
  <img src="{{site.url}}/assets/cristiancristea.jpg" alt="">

  <section class="skills">
    <h2>Technologies</h2>
    <div class="wrapper">
      <div class="skill html">
        <h2 class="small-heading">HTML5</h2>
        <ul class="project-list">
          <li>Semantic markup</li>
          <li>HTML5 APIs</li>
          <li>HTML5 Polyfills</li>
          <li>Web Accessibility</li>
        </ul>
      </div>

      <div class="skill css">
        <h2 class="small-heading">CSS/SCSS</h2>
        <ul class="project-list">
          <li>Layout</li>
          <li>Responsive Web Design - Mobile First</li>
          <li>Positioning Content</li>
          <li>Typography</li>
          <li>Style Forms</li>
          <li>Style Tables</li>
          <li>Backgrounds</li>
          <li>Cross Browser Testing</li>
        </ul>
      </div>

      <div class="skill js">
        <h2 class="small-heading">JavaScript</h2>
        <ul class="project-list">
          <li>Functions and Scope</li>
          <li>List Processing - Arrays</li>
          <li>String and Text Processing</li>
          <li>Objects</li>
          <li>ES6</li>
          <li>jQuery</li>
          <li>Reactjs</li>
        </ul>
      </div>
    </div>
  </section>
</main>

<!-- footer -->
{% include footer.html %}
