---
layout: default
title: "about me"
subtitle: "Full Stack Web Developer"
---

<!-- header -->
<header>
  {% include navbar.html %} {% include jumbotron.html title=page.title
  subtitle=page.subtitle %}
</header>

<main class="container">
  <img src="{{site.url}}/assets/cristiancristea.jpg" alt="" />

  <section class="skills">
    <h2>Technologies</h2>
    <div class="wrapper">
      <div class="skill html">
        <h2 class="small-heading">Front End</h2>
        <ul class="project-list">
          <li>Wireframes, prototyping</li>
          <li>UI design</li>
          <li>HTML5</li>
          <li>Semantic markup</li>
          <li>CSS3</li>
          <li>Sass</li>
          <li>Bootstrap</li>
          <li>Javascript, ES6</li>
          <li>React</li>
          <li>jQuery</li>
          <li>Cross Browser Testing</li>
        </ul>
      </div>

      <div class="skill css">
        <h2 class="small-heading">Back End</h2>
        <ul class="project-list">
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>Test Driven Development</li>
          <li>Web scraping</li>
          <li>Relational databases, SQL</li>
        </ul>
      </div>

      <div class="skill js">
        <h2 class="small-heading">Workflow</h2>
        <ul class="project-list">
          <li>Git</li>
          <li>Github</li>
        </ul>
      </div>
    </div>
  </section>
</main>

<!-- footer -->
{% include footer.html %}
