// colors

$white: #fff;
$black: #010101;
$cornflower-blue: rgba(32, 152, 209, 1);
$alabaster: #fafafa;
$mine-shaft: #333333;

// font sizes

$small: 1rem;
$medium: 1.8rem;
$large: 2rem;
$x-large: 4rem;
