// colors
$white: #fff;
$black: #212121;
$cornflower-blue: rgba(32, 152, 209, 1);
$alabaster: #fafafa;
$mine-shaft: #212121;
$scorpion: #5c5c5c;

$html: #f16529;
$css: #369dd7;
$js: #f1cc03;
$github: #6f42c1;

// project colors
$mozubi: #5432ff;
$contact-manager: tomato;
$weather-app: #035273;
$dashboard: #7377bf;
$interactive-video-player: #e59440;
$reen: #37516c;
$form: #2d3945;

// font sizes
$small: 1rem;
$medium: 1.8rem;
$large: 2rem;
$x-large: 4rem;
