// colors

$white: #fff;
$black: #212121;
$cornflower-blue: rgba(32, 152, 209, 1);
$alabaster: #fafafa;
$mine-shaft: #212121;
$scorpion: #5c5c5c;
$tomato: tomato;

$html: #f16529;
$css: #369dd7;
$js: #f7df1e;

// font sizes

$small: 1rem;
$medium: 1.8rem;
$large: 2rem;
$x-large: 4rem;
