.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.contact-manager {
  background-color: $contact-manager;
}

.reen {
  background-color: $reen;
}

.weather {
  background-color: $weather-app;
}
