// projects
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  li {
    background-color: $white;
    padding: 1%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: block;
    margin: 2.4%;
    transition: all 0.3s;
    text-align: left;
    max-width: 90%;

    &:hover {
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    a {
      display: block;
      margin: 0 auto;
      max-width: 360px;
      text-decoration: none;
      color: $mine-shaft;
    }

    @media screen and (min-width: 768px) {
      max-width: 45%;
      margin: 2.4% 0;
    }

    @media screen and (min-width: 1024px) {
      max-width: 30.3%;
    }
  }

  figure {
    margin: 0;
  }

  figcaption {
    padding: 9px;

    h4,
    p {
      text-align: left;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding: 0;
    }

    h4 {
      font-size: 1.2rem;
    }

    p {
      display: block;
      margin: 0;
      font-size: 16px;
      font-size: 0.9rem;
      color: #666666;
      padding-top: 0.4em;
      height: 1.3em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
