.post-content {
  .title-bar {
    margin-top: 100px;
  }

  .project-details {
    .project-link {
      margin: 20px 0;
    }
  }

  .project-img {
    display: block;
    margin: 100px auto 50px;
  }
}

.title-bar {
  width: 100%;
  text-align: left;
  background-color: $tomato;

  h3 {
    color: $white;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-weight: 400;
    font-size: 2em;
    margin: 0;
  }
}

.project {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.project-details {
  width: 40%;

  .project-details__item {
    color: $black;
    margin-bottom: 30px;
  }

  h4 {
    color: $scorpion;
    font-weight: 600;
    margin-bottom: -5px;
  }

  .project-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    color: $white;
    background-color: $cornflower-blue;
    padding: 10px;
    border: 2px solid $cornflower-blue;
    transition: all 0.3;

    &:hover {
      color: $cornflower-blue;
      background-color: $white;
    }
  }
}

.project-overview {
  width: 40%;

  h4 {
    color: $scorpion;
    font-weight: 600;
    margin-bottom: -5px;
  }
}
