// ============================================================
// = Global Variables
// ============================================================

// Color Scheme

// Descriptive colors:
$white : #fff;
$black : #0b0b0b;
$grey  : #797e83;

$de_york              : #81c98f;
$glacier              : #74b1bf;
$fountain-blue        : #52bab3;
$emerald              : #5ece7f;
$sunglo               : #e67478;
$coral                : #ff784f;
$purple-majesty       : #9279c3;
$scooter              : #39add1;


$primary-color        : $fountain-blue;
$secondary-color      : $scooter;
$color-accent         : $emerald;
$color-shadow         : rgba($black, .2);

// Color Palette Modifiers

$color-palettes: (
  grey: (
    xx-light : lighten($grey, 43%),
    x-light  : lighten($grey, 35%),
    light    : lighten($grey, 12%),
    base     : $grey,
    dark     : darken($grey, 8%),
    x-dark   : darken($grey, 16%)
  ),
  black: (
    light    : lighten($black, 10%),
    base     : $black,
    dark     : darken($black, 10%)
  )
);

// UI Colors

$ui-colors: (
  default : $fountain-blue,
  success : $emerald,
  error   : $sunglo,
  warning : $coral,
  info    : $purple-majesty
);

// Base Sizes
 
$base-font-size   : 16px;
$base-line-height : 24px;
$letter-space     : 1px;

// Font Stacks
 
$google-fonts-url          : 'https://fonts.googleapis.com/css?family=Lato:400,700,900';

$font-family-primary: "Lato, sans-serif";
$font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Weights
// ============

$font-weight--thin     : 100;
$font-weight--light    : 300;
$font-weight--normal   : 400;
$font-weight--semibold : 700;
$font-weight--bold     : 900;

// Path to Assets

$path--rel            : "..img/";

// Breakpoints
// ============

// $mobile-small         : 240px;
$mobile-large         : 320px;
$tablet-small         : 480px;
$tablet-large         : 768px;
// $screen-small         : 1024px;
$screen-large         : 1280px;
