// ============================================================
// Mixins
// ============================================================

// BEM selectors

@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Media queries

@mixin media($break) {
  @if $break == "small" {
    @media (min-width: $mobile-large) and (max-width: $tablet-large) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $tablet-large + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $screen-large) {
      @content;
    }
  }
  @else {
    @error "No value could be retrieved for `#{$break}`. "
  }
}

//=============================================================
// Placeholders
//=============================================================

// Headlines

%headline-primary {
  color: palette(black, light);
  font-weight: $font-weight--normal;
  font-size: em(42px);
  line-height: (46px/42px);
  margin-top: 0;
}

%headline-secondary {
  color: palette(grey, dark);
  letter-spacing: $letter-space;
  font-weight: $font-weight--normal;
  font-size: em(24px);
  // font-family: $font-family-secondary;
}

%headline-small {
  color: palette(gray);
  letter-spacing: $letter-space;
  font-weight: $font-weight--normal;
  font-size: em(16px);
  text-transform: uppercase;
}

@mixin headline-primary--bg-color($bg-color) {
  @extend %headline-primary;
  font-size: em(16px, 16px);
  text-align: left;
  color: white;

  padding-top: em(20px);
  padding-bottom: em(20px);
  background-color: $bg-color;
}
