/***********************************************************
*** Contact nav
***********************************************************/
nav {
    position: fixed;
    top: 0;
    background: $primary-color;
    width: 100%;
    height:90px;
    padding-top: em(10px);
}

.contact-nav {
  position: relative;
  text-align: center;
  margin: em(20px);
  margin-left: -50px;
  // padding-bottom: 10px;


  @include element(link) {
    display: inline-block;
    padding-left: em(30px);

    svg#Layer_1 {
      fill: $white;
      margin-bottom: -5px;

      &:hover {
        fill: $white;
      }
    }
    &:last-of-type {
      position: absolute;
      top: -1px;
    }
  }
}
