/***********************************************************
*** Contact nav
***********************************************************/
nav {
    position: fixed;
    top: 0;
    background: $primary-color;
    width: 100%;
    height:60px;
    z-index: 100;
}

.contact-nav {
  position: relative;
  text-align: center;
  margin: 1em 1.25em 1.25em em(-50px);

  @include element(link) {
    display: inline-block;
    padding-left: em(30px);

    svg.social-link {
      fill: $white;
      margin-bottom: -5px;
    }
    &:last-of-type {
      position: absolute;
      top: -1px;
    }

    &:hover {
    transform: scale(1.2) rotate(7deg);
    transition: all .2s ease-in-out;
    }
  }
}
