/***********************************************************
*** General
***********************************************************/

i.color-video-player {
  color: $fire_bush;
}

i.color-dashboard {
  color: $ship_cove;
}

i.color-registration {
  color: $fountain-blue;
}

i.color-weather {
  color: $matisse;
}

.project-module--img{
  border: 10px solid $primary-color;
  border-radius: 20px;

  img {
    border-radius: 20px;
  }
}

/***********************************************************
*** Project page - block project details
***********************************************************/

.project-details {
  @include element(item) {
  margin-bottom: em(50px);

    p {
      margin-bottom: 0;
    }
  }
}

/***********************************************************
*** Project page - block project module
***********************************************************/

// img

.project-module--img-video {
  @extend .project-module--img;
  border-color: $fire_bush;
}

.project-module--double-img {
 @extend .project-module--img;
  border-color: $fire_bush;

 & img:first-of-type {
  border-radius: 10px 10px 0 0;
 }

  & img:last-of-type {
    margin-bottom: -4px;
    border-radius: 0 0 10px 10px;
  }
}

.project-module--double-img.col-6 {
  padding: 0;
}

// requirments
.project-requirements {
  @include element(item) {
    position: relative;

    i {
      position: absolute;
      top: 6px;
    }

    p {
      padding-left: 20px;
    }
  }
}

/***********************************************************
*** Project page - dashboard
***********************************************************/

.project-module--img-dashboard {
  @extend .project-module--img;
  border-color: $ship_cove;
}

/***********************************************************
*** Project page - online registration
***********************************************************/

.project-module--img-registration {
  @extend .project-module--img;
  border-color: $fountain-blue;
}

/***********************************************************
*** Project page - weather app
***********************************************************/

.project-module--img-weather {
  @extend .project-module--img;
  border-color: $matisse;
}