/***********************************************************
*** Front page - Section intro
***********************************************************/
.intro {
  margin-bottom: em(30px);

  a {
    color: palette(black, light); 

    &:hover {
      color: $primary-color;
    }
  }
}

.headline-group {
  .headline-primary {
    margin-bottom: em(10px);
    margin-top: em(40px);
  }

  .headline-secondary {
    margin-top: 0;
    margin-bottom: 0; 
  }
}

.location {
  @extend %center-align;
  margin-bottom: em(80px);

  i {
    padding-right: em(3px);
    color: $primary-color;
    font-size: em(20px);
  }

  h3 {
    @extend %headline-secondary;
    font-size: em(30px, 24px);
    display: inline-block;
    color: $primary-color;
    margin-top: em(4px);
  }
}

/***********************************************************
*** Front page - Section proiects
***********************************************************/

.projects {
  margin-top: em(30px);

  @include element(item) {
    margin-bottom: em(20px);

    h3 {
      @extend %headline-secondary;
      font-size: em(18px);
      font-weight: $font-weight--medium;
      margin-top: em(16px);
      color: palette(gray, xx-dark);
    }
  }
}

/***********************************************************
*** Projects page - section project-single
***********************************************************/

.project-single {

  @include media(medium) {
    padding-top: em(60px, 16px);
    padding-bottom: em(60px, 16px);
  }
}


/***********************************************************
*** Single project - interactive video player
***********************************************************/
.project-photo {
  border: 40px solid palette(grey);
  margin-bottom: em(100px, 24px);

  img {
    margin-bottom: -4px;
  }
}


.headline-project--video-player {
  @include add-background-color($fire_bush);
}

.headline-project {
  @extend %headline-project;
}

/***********************************************************
*** Single project - dashboard
***********************************************************/

.headline-project--dashboard {
  @include add-background-color($ship_cove );
}

/***********************************************************
*** Single project - online registration
***********************************************************/

.headline-project--registration {
  @include add-background-color($fountain-blue);
}

/***********************************************************
*** Single project - weather app
***********************************************************/

.headline-project--weather {
  @include add-background-color($matisse);
}

/***********************************************************
*** Single project - interactive photo gallery
***********************************************************/

.headline-project--photo-gallery {
  @include add-background-color($emerald);
}

/***********************************************************
*** Single project - notify
***********************************************************/

.headline-project--notify {
  @include add-background-color($shamrock);
}