
body {
  font-family: $font-family-primary;
}

.headline-primary {
  @extend %center-align;
  @extend %headline-primary;
}

.headline-secondary {
  @extend %center-align;
  @extend %headline-secondary;
}

.headline-small {
 @extend %headline-small;
}

.headline-project--subtitle {
  @extend .headline-project;
  margin-top: em(80px);
}

p {
  color: palette(gray, x-dark);
  line-height: 1.6;
  font-weight: $font-weight--normal;
  font-size: em(18px);
}

.text-small {
  font-size: em(14px);
  font-weight: $font-weight--normal;
  color: palette(grey, x-dark);
}

.online {
  @extend .headline-small;
  text-decoration: none;
  color: $primary-color;
}