
body {
  font-family: $font-family-primary;
}

.headline-primary {
  @extend %center-align;
  @extend %headline-primary;
}

.headline-secondary {
  @extend %center-align;
  @extend %headline-secondary;
}

.text-small {
  font-size: em(14px);
  font-weight: $font-weight--normal;
  color: palette(grey, x-dark);
}
